* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.container {
  width: 100%;
  height: 722px;
  background-color: #42c2ff;
  position: relative;
}

.container img {
  height: 180px;
  width: 180px;
  position: absolute;
  left: 69%;
  top: 10%;
}
 
.weather--part {
  width: 50%;
  height: 60%;
  background-color: rgba(147, 222, 254, 0.3);
  border-radius: 50px;
  margin: auto;
  position: absolute;
  top: 20%;
  left: 25%;
}

.search--box {
  align-items: center;
  width: 300px;
  border: 1px solid #97A0B9;
  border-radius: 5px;
  background-color: white;
  margin: 10px auto;
}


.weather--details {
  width: 90%;
  height: auto;
  margin: 35px auto;
  color: #ffffffd5;
  font-size: 18px;
}

.text--upper {
  font-size: 28px;
  margin: 10px 0 30px 0;
  line-height: 40px;
}

.text--medium {
  line-height: 30px;
}

.weather--icon {
  margin-top: 10px;
}

.weather--status {
  display: flex;
  align-items: center;
}

.weather--status .icon {
  margin: 0 0 0 10px;
}

